[Unit]
Description=new-fpt Service

[Service]
Type=simple
WorkingDirectory=/root/storage/anyun_pros/fileport_v2/main.py
ExecStart=/usr/bin/python3 main.py
Restart=on-failure
StandardOutput=null
LimitCORE=infinity
LimitNOFILE=500000
LimitNPROC=500000
User=anyun
Group=anyun

[Install]
WantedBy=multi-user.target
